﻿<div class="pt-2">
    <h1>Все автомобили</h1>
    <h3>@Model.CurrentCategory</h3>
    <div class="row mt-5 mb-2">
        @{
            foreach (var car in Model.GetCars)
            {
                <div class="col-lg-4">
                    <img class="img-thumbnail" src="@car.ImageUrl" alt="@car.Name" />
                    <h2>Модель: @car.Name</h2>
                    <p>Цена: @car.Price?.ToString("c")</p>
                    <p>Категория: @car.Category.Name</p>
                    <p><a class="btn btn-warning" href="#">Подробнее</a></p>
                </div>
            }
        }
    </div>
</div>